/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "roboto-as";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
html, body {
  font-family: "roboto-as";
  letter-spacing: 0.5px;
}

.none {
  display: none;
}

:root {
  --header-bg:#E7F066;
  --main-color:#262626;
  --hover:#b3a0a0;
}

.header {
  position: relative;
}

.row {
  display: flex;
  background-color: #E7F066;
  height: 100vh;
}

.row-1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row-bg {
  flex-grow: 1;
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 25px;
}

.row-text {
  height: 112px;
  padding: 40px;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.5px;
}

.row-2 {
  width: 25%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  padding: 26px 40px;
}

.row__nav {
  display: flex;
  gap: 40px;
  margin-bottom: 70px;
  justify-content: end;
}

.row__cart {
  text-transform: uppercase;
  color: var(--main-color);
}

.row__menu {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.row__menu-item {
  height: 2px;
  width: 20px;
  background-color: var(--main-color);
}

.row__about {
  color: var(--main-color);
}

.row__about-item {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.5px;
}

.row__about-link {
  color: var(--main-color);
  font-size: 12px;
  line-height: 19px;
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 5px;
  transition: color 0.15 ease-in;
}
.row__about-link:hover {
  color: #797474;
}

.header__abs {
  position: absolute;
  bottom: 32px;
  right: 32px;
  max-width: 376px;
  padding: 48px;
  background-color: #1B1B1B;
  color: #F1F1EE;
}

.header__abs-text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
}

.learn-link {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #F1F1EE;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.bg-text {
  text-transform: uppercase;
  color: #fff;
  margin: 102px 0 0 15px;
}

.candles__row {
  display: flex;
  background-color: #9C8554;
  color: #B2B2B2;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.5px;
  height: 100vh;
}

.candles__info {
  width: 25%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.candles__text p {
  margin-bottom: 21px;
}

.candles__link {
  color: #B2B2B2;
  text-transform: uppercase;
  border-bottom: 1px solid #B2B2B2;
  padding-bottom: 5px;
  transition: color 0.15s ease-in;
}
.candles__link:hover {
  color: #d4d4d4;
}

.candles__bg {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.candles__bg-img {
  background-image: url(../img/candles.png);
  background-size: cover;
  background-position: center center;
  flex-grow: 1;
}

.candles__down-text {
  padding: 40px;
  display: flex;
  justify-content: end;
  font-size: 25px;
  line-height: 32px;
}

.images__screen {
  height: 100vh;
}

.images__column {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  text-transform: uppercase;
  color: #262626;
}

.images__item {
  padding: 40px 45px;
}

.images__sprinker {
  width: 50%;
  display: flex;
  align-items: end;
  background-image: url(../img/images-screen/Rectangle.png);
  background-size: cover;
  background-position: center center;
  flex-grow: 1;
  padding: 40px;
}

.images__cream {
  width: 50%;
  display: flex;
  align-items: end;
  background-image: url(../img/images-screen/Rectangle2.png);
  background-size: cover;
  flex-grow: 1;
  padding: 40px;
}

.images__screen-text {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #262626;
  padding-bottom: 5px;
}

.benefit__row {
  height: 100vh;
  padding: 50px 25px;
  display: flex;
}

.benefit__img {
  background-image: url(../img/about-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 56%;
}

.benefit__text {
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #262626;
  padding: 30px;
  max-width: 311px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.benefit__about {
  font-size: 15px;
  margin-bottom: 11px;
}

.benefit__title {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 39px;
}

.benefit__lowest {
  font-size: 14px;
  margin-bottom: 20px;
}

.benefit__higher {
  font-size: 16px;
  margin-bottom: 22px;
}

.benefit__link {
  font-size: 12px;
  border-bottom: 1px solid #262626;
  padding-bottom: 5px;
  color: #262626;
  transition: 0.2s color ease-in;
}
.benefit__link:hover {
  color: #b3a0a0;
}

.link__wrapper {
  display: flex;
}

.girl__row {
  display: flex;
  background-color: #A26779;
  height: 100vh;
  font-size: 15px;
  line-height: 19px;
  color: #B2B2B2;
}

.girl__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px 15px;
  width: 25%;
}

.girl__desc {
  padding: 0px 30px 0px 25px;
}

.girl__desc-text {
  margin-bottom: 22px;
}

.girl__link {
  color: #B2B2B2;
  border-bottom: 1px solid #B2B2B2;
  padding-bottom: 5px;
  transition: color 0.15s ease-in;
}
.girl__link:hover {
  color: #dbdbdb;
}

.girl__bg {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.girl__bg-img {
  background-image: url(../img/girl.png);
  flex-grow: 1;
  background-size: cover;
}

.girl__bg-text {
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  color: #B2B2B2;
  font-size: 28px;
  line-height: 32px;
}

.power__bg {
  height: 100vh;
  background-image: url(../img/power.png);
  background-size: cover;
  background-position: center center;
}

.power__text-wrapper {
  padding: 40px 15px;
  max-width: 320px;
}

.power__text {
  padding: 80px 0 0 25px;
  color: #262626;
  line-height: 19px;
}

.power__subtitle {
  margin-bottom: 11px;
  font-size: 15px;
}

.power__title {
  margin-bottom: 40px;
  font-size: 25px;
  line-height: 32px;
}

.power__desc {
  margin-bottom: 3px;
  font-size: 16px;
}

.power__link {
  color: #262626;
  font-size: 11px;
  border-bottom: 1px solid #262626;
  padding-bottom: 5px;
  transition: color 0.15 ease-in;
}
.power__link:hover {
  color: #5f5a5a;
}

.orange__row {
  display: flex;
  background-color: #504B4D;
  font-size: 15px;
  line-height: 19px;
  color: #B2B2B2;
  height: 100vh;
}

.orange__info {
  width: 25%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orange__desc {
  max-width: 330px;
}

.orange__desc-text {
  margin-bottom: 22px;
}

.orange__link {
  border-bottom: 1px solid #B2B2B2;
  padding-bottom: 5px;
  color: #B2B2B2;
  transition: color 0.15 ease-in;
}
.orange__link:hover {
  color: #b3a0a0;
}

.orange__bg {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.orange__bg-img {
  background-image: url(../img/orange.png);
  background-size: cover;
  flex-grow: 1;
}

.orange__bg-text {
  display: flex;
  justify-content: flex-end;
  padding: 47px 40px 33px 0;
  font-size: 25px;
  line-height: 32px;
}

.industry__row {
  height: 100vh;
  display: flex;
  color: #B2B2B2;
  background-color: #B04836;
  font-size: 15px;
  line-height: 19px;
}

.industry__info {
  width: 25%;
  padding: 53px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.industry__desc {
  max-width: 330px;
}

.industry__desc-text {
  margin-bottom: 22px;
}

.industry__link {
  color: #B2B2B2;
  border-bottom: 1px solid #B2B2B2;
  padding-bottom: 5px;
}
.industry__link:hover {
  color: #b3a0a0;
}

.industry__bg {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.industry__bg-img {
  background-image: url(../img/industry.png);
  background-size: cover;
  flex-grow: 1;
}

.industry__bg-text {
  padding: 63px 39px 17px;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  line-height: 32px;
}

.footer {
  font-size: 14px;
  line-height: 19px;
  color: #CCCCCC;
}

.footer__content {
  background-color: #262626;
  padding: 50px 40px;
}

.footer__text {
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
}

.footer__cube {
  height: 16px;
  width: 16px;
  background-color: #CCCCCC;
}

.footer__inputs {
  margin-bottom: 8px;
}

.login {
  display: flex;
  gap: 20px;
}

.input-name {
  border-bottom: 1px solid #CCCCCC;
  width: 250px;
  height: 1px;
  margin-bottom: 8px;
}

.input-email {
  border-bottom: 1px solid #CCCCCC;
  width: 250px;
  height: 1px;
  margin-bottom: 8px;
}

.submit {
  margin-top: 18px;
}
.submit:hover {
  color: #dfdede;
}/*# sourceMappingURL=main.css.map */