.benefit {

}
.benefit__row {
    height: 100vh;
    padding: 50px 25px;
    display: flex;
}
.benefit__img {
    background-image: url(../img/about-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 56%;
}
.benefit__text {
    line-height: 19px;
    letter-spacing: 0.5px;
    color: #262626;
    padding: 30px;
    max-width: 311px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.benefit__about {
    font-size: 15px;
    margin-bottom: 11px;
}
.benefit__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 39px;
}
.benefit__lowest {
    font-size: 14px;
    margin-bottom: 20px;
}
.benefit__higher {
    font-size: 16px;
    margin-bottom: 22px;
}
.benefit__link {
    font-size: 12px;
    border-bottom: 1px solid #262626;
    padding-bottom: 5px;
    color: #262626;
    transition: 0.2s color ease-in;
    &:hover {
        color: #b3a0a0;
    }
}

.link__wrapper {
    display: flex;
}