.girl {

}
.girl__row {
    display: flex;
    background-color: #A26779;
    height: 100vh;
}
.girl__info {
    font-size: 15px;
    line-height: 19px;
    color:#B2B2B2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 15px;
    width: 25%;
}
.girl__title {

}
.girl__desc {
    padding: 0px 30px 0px 25px;
}
.girl__desc-text {
    margin-bottom: 22px;
}
.girl__link {
    color: #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
    padding-bottom: 5px;
    transition: color 0.15s ease-in;
    &:hover {
        color: #dbdbdb;
    }
}
.girl__bg {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.girl__bg-img {
    background-image: url(../img/girl.png);
    flex-grow: 1;
    background-size: cover;
}
.girl__bg-text {
    padding: 40px;
    display: flex;
    justify-content: flex-end;
    color:#B2B2B2;
    font-size: 28px;
    line-height: 32px;
}