.header{
    background-color: var(--header-bg);
}

.header__wrapper {
    min-height: 600px;
    height: 100vh;
    display: flex;  
    // justify-content: space-between;
}

.header__screen {
    width: 1080px;
    padding: 26px;

    background-image: url(/img/header-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}



.header__logo{

}

.screen__text {
    margin-top: 108px;
    text-transform: uppercase;
    color: #fff;
}

.header__about {
    padding-top: 26px;
    padding-right: 26px;
    width: 360px;
}

.header__cart{
    display: flex;
    justify-content: end;
    gap: 48px;
}

.header__cart {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 13px;
    color: var(--main-color);
}

.header__menu {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.header__menu-item {
    width: 20px;
    height: 2px;
    background-color: var(--main-color);
}


.header__about-block {
    padding: 79px 30px 5px 25px;
    color: var(--main-color);
}
.about-block__text {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.5px;
    margin-bottom: 22px;
}
.about-block__link {
    color: var(--main-color);
    font-size: 12px;
    line-height: 19px;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 5px;
}

.header__footer {
    padding: 40px;
}


.header__foot{
    width: 100%;
}


