@font-face {
    font-family: 'roboto-as';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

html, body {
    font-family: 'roboto-as';
    letter-spacing: 0.5px;
}

.none {
    display: none;
}